name: Deploy to GitHub Pages

on:
  push:
    branches: ['main']

jobs:
  build_site:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'npm'
      - run: npm install
      - run: npm run build
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: github-pages
          path: 'build/'

  deploy:
    needs: build_site
    runs-on: ubuntu-latest
    
    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    
    steps:
      - name: Configure pages
        uses: actions/configure-pages@v4

      - name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          name: github-pages
          path: build

      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4